@font-face {
  font-family: 'Nesans Semi Bold';
  src: url("./Nesans-Semi-Bold.ttf");
  font-weight: 100;
  font-style: normal; }

body {
  font-family: "Nesans Semi Bold";
  background-color: #E6E6E6; }
  body header {
    background-color: #FEFEFE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    min-height: 15vh;
    z-index: 1;
    border-bottom: 1px solid #2b2f3b; }
    body header .logo img {
      width: 10vh;
      height: 10vh; }
  body main {
    padding-top: 20vh;
    min-height: 100vh;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  body .footer {
    width: 100%;
    background-color: #FEFEFE;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center; }
    body .footer img {
      width: 8vh;
      height: 8vh; }
    body .footer div {
      margin-top: 2vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
    body .footer .iconify {
      max-width: 5vh;
      max-height: 5vh;
      min-height: 2vh;
      min-width: 2vh;
      color: #2b2f3b; }

.intro {
  width: 80vw;
  margin-bottom: 10vh;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .intro__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2b2f3b; }
    .intro__section__icon {
      width: 5vw;
      height: 5vh; }
    .intro__section__text {
      font-size: 1.5em;
      text-align: center; }

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  max-width: 99vw; }
  .banner__icon {
    transition: transform .2s;
    width: 40vw;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; }
  .banner :hover {
    transform: scale(1.1); }
  .banner #iconOne {
    background-image: url("../images/icono-1.jpg"); }
  .banner #iconTwo {
    background-image: url("../images/icono-2.jpg"); }
  .banner #iconThree {
    background-image: url("../images/icono-3.jpg"); }
  .banner #iconFour {
    background-image: url("../images/icono-4.jpg"); }

.vegan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh; }
  .vegan__title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background-color: #FEFEFE;
    color: #2b2f3b;
    margin-bottom: 5vh;
    font-size: 4vh; }
  .vegan__supercard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #2b2f3b;
    width: 80vw;
    height: 50vh;
    margin-bottom: 5vh; }
    .vegan__supercard__img {
      min-height: 50vh;
      width: 50vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 5px;
      background-image: url("../images/vegan-4.jpg"); }
    .vegan__supercard__information {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 0 10vh;
      font-size: 1.1em;
      height: 100%;
      align-content: center;
      color: #E6E6E6; }
      .vegan__supercard__information__title {
        font-size: 2em; }
    @media (max-width: 1280px) {
      .vegan__supercard {
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        width: 90vw; }
        .vegan__supercard__img {
          width: 100%;
          max-height: 50vh;
          border-radius: 5px; }
        .vegan__supercard__information {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          text-align: center;
          padding: 5vh;
          min-height: 30vh;
          width: 100%;
          color: #E6E6E6; }
          .vegan__supercard__information__title {
            font-size: 1.8em; } }
    @media (max-width: 1280px) and (max-width: 600px) {
      .vegan__supercard__information {
        padding: 0; }
        .vegan__supercard__information .iconify {
          display: none; } }
  .vegan__divition {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    min-height: 50vh;
    width: 90vw; }
    .vegan__divition__card {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px;
      background-color: #6b969d;
      width: 20vw;
      min-height: 45vh; }
      .vegan__divition__card #veganOne {
        background-image: url("../images/vegan-1.jpg"); }
      .vegan__divition__card #veganTwo {
        background-image: url("../images/vegan-2.jpg"); }
      .vegan__divition__card #veganThree {
        background-image: url("../images/vegan-3.jpg"); }
      .vegan__divition__card__img {
        height: 40vh;
        width: 20vw;
        border-radius: 5px 5px 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center; }
      .vegan__divition__card__information {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 10vh;
        max-width: 90%;
        text-align: center;
        font-size: 1.1em;
        color: #FEFEFE; }
      @media (max-width: 960px) {
        .vegan__divition__card {
          width: 28vw;
          justify-content: space-around; } }
    @media (max-width: 599px) {
      .vegan__divition {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 50vh;
        width: 100vw; }
        .vegan__divition__card {
          margin-top: 3vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;
          background-color: #6b969d;
          min-height: 40vh;
          width: 90vw; }
          .vegan__divition__card__img {
            width: 100%;
            max-height: 100%;
            background-size: cover;
            border-radius: 5px 5px 0 0;
            background-repeat: no-repeat;
            background-position: center; }
          .vegan__divition__card__information {
            display: flex;
            min-width: 50%;
            margin-bottom: 2vh;
            min-height: 10vh;
            text-align: center;
            color: #FEFEFE; } }

.direction {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh; }
  .direction__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70vw; }
    .direction__row__card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 30vw;
      height: 25vh;
      border-radius: 5px;
      background-color: #FEFEFE; }
      .direction__row__card__information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30vw;
        height: 10vh;
        color: #2b2f3b;
        text-align: center;
        font-size: 1.5em; }
        .direction__row__card__information__instagram {
          color: #2b2f3b; }
      .direction__row__card__iframe {
        border: 0px;
        width: 30vw;
        min-height: 10vh;
        max-height: 30vh;
        border-radius: 0 5px 5px 0; }
  @media (max-width: 960px) {
    .direction {
      height: 100vh;
      margin-top: 10vh;
      margin-bottom: 10vh; }
      .direction__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw; }
        .direction__row__card {
          width: 90vw;
          height: 25vh;
          margin-bottom: 5vh; }
          .direction__row__card__information {
            width: 90vw;
            height: 10vh; }
          .direction__row__card__iframe {
            width: 90vw; } }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  width: 100vw; }
  .section__title {
    font-size: 2rem; }
  .section__products {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5em; }
    .section__products__card {
      transition: transform .4s;
      width: 20vw;
      height: 20vw;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 5px; }
      .section__products__card__img {
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0px 0px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 5px; }
      .section__products__card__span {
        text-align: center;
        background-color: #FEFEFE;
        width: 100%; }
      .section__products__card #card-1 {
        background-image: url("https://www.linkpicture.com/q/card1.jpg"); }
      .section__products__card #card-2 {
        background-image: url("https://www.linkpicture.com/q/card2.jpg"); }
      .section__products__card #card-3 {
        background-image: url("https://www.linkpicture.com/q/card3.jpg"); }
      .section__products__card #card-4 {
        background-image: url("https://www.linkpicture.com/q/card4.jpg"); }
      .section__products__card #card-5 {
        background-image: url("https://www.linkpicture.com/q/card5.jpg"); }
      .section__products__card #card-6 {
        background-image: url("https://www.linkpicture.com/q/card6.jpg"); }
      .section__products__card #card-7 {
        background-image: url("https://www.linkpicture.com/q/card7.jpg"); }
      .section__products__card #card-8 {
        background-image: url("https://www.linkpicture.com/q/card8.jpg"); }
      .section__products__card #card-9 {
        background-image: url("https://www.linkpicture.com/q/card9.jpg"); }
      .section__products__card #card-10 {
        background-image: url("https://www.linkpicture.com/q/card10.jpg"); }
      .section__products__card #card-11 {
        background-image: url("https://www.linkpicture.com/q/card11.jpg"); }
      .section__products__card #card-12 {
        background-image: url("https://www.linkpicture.com/q/card12.jpg"); }
      .section__products__card:hover {
        transform: translateY(-10px); }
    @media (max-width: 599px) {
      .section__products {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .section__products__card {
          width: 80vw;
          height: 80vw;
          border-radius: 5px;
          display: flex;
          flex-direction: column;
          background-color: #FEFEFE;
          align-items: center;
          margin-bottom: 5vh; }
          .section__products__card__img {
            width: 100%;
            max-height: 100%;
            border-radius: 5px 5px 0px 0px; }
          .section__products__card__span {
            align-self: center;
            justify-self: center; } }
  @media (max-width: 599px) {
    .section {
      margin-top: 5vh; } }

form .form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  min-height: 80vh;
  align-items: center; }
  form .form-container input[type=text], form .form-container input[type=email], form .form-container select {
    width: 80%;
    padding: 12px 20px;
    margin-bottom: 3vh;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; }
  form .form-container input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer; }
  form .form-container input[type=reset] {
    width: 40%;
    background-color: #FFCC00;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer; }
  form .form-container div {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 599px) {
      form .form-container div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 90vw; } }
  form .form-container label {
    font-size: 1rem;
    text-transform: uppercase;
    color: #2b2f3b; }

.formCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .about__us {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #6b969d;
    border: 1px solid #FEFEFE;
    border-radius: 5px;
    margin-bottom: 5vh; }
    .about__us__image {
      background-image: url("https://www.linkpicture.com/q/amarilis-big.jpg");
      width: 80vw;
      height: 35vh;
      background-size: cover;
      border-radius: 5px 0px 0px 5px;
      background-position: center; }
    .about__us__text {
      margin: 0 2vw;
      text-align: center;
      color: #FEFEFE;
      font-size: 1.2em; }
    @media (max-width: 1280px) {
      .about__us {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        margin-top: 3vh; }
        .about__us__image {
          border-radius: 5px 5px 0px 0px;
          width: 100%;
          border: 1px solid #FEFEFE; }
        .about__us__text {
          margin: 0 2vw;
          text-align: center;
          color: #FEFEFE;
          font-size: 1em; } }
  .about__table {
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5vh;
    border-radius: 5px;
    align-items: center;
    flex-direction: row;
    background-color: #FEFEFE; }
    .about__table__square {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .about__table__title {
      color: #2b2f3b;
      width: 5vw;
      height: 5vh; }
    .about__table__content {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      align-items: center;
      flex-direction: row;
      width: 15vw;
      height: 15vh; }
    @media (max-width: 960px) {
      .about__table {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .about__table__square {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
        .about__table__titles {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          background-color: lightblue;
          width: 100%; }
        .about__table__content {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          width: 80vw;
          height: 15vh; } }
