.about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__us{
        width: 80vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: $blue;
        border: 1px solid $secondary-color;
        border-radius: $border-radius;
        margin-bottom: 5vh;
        &__image{
            background-image: url('https://www.linkpicture.com/q/amarilis-big.jpg');
            width: 80vw;
            height: 35vh;
            background-size:cover;
            border-radius: $border-radius 0px 0px $border-radius;
            background-position: center;
        }
        &__text{
            margin: 0 2vw;
            text-align: center;
            color: $secondary-color;
            font-size: 1.2em;
        }
        @include media-lt-lg{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 90vw;
            margin-top: 3vh;
            &__image{
                border-radius: $border-radius $border-radius 0px 0px;
                width: 100%;
                border: 1px solid $secondary-color;
            }
            &__text{
                margin: 0 2vw;
                text-align: center;
                color: $secondary-color;
                font-size: 1em;
            }
        }
    }
    &__table{
        width: 80vw;
        display: flex;
        justify-content: space-evenly;
        padding-top: 5vh;
        border-radius: $border-radius;
        align-items: center;
        flex-direction: row;
        background-color: $secondary-color;
        &__square{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        &__title{
            color: $black;
            width: 5vw;
            height: 5vh;
        }
        &__content{
            display: flex;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;
            flex-direction: row;
            width: 15vw;
            height: 15vh;
        }

        @include media-lt-md{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &__square{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            &__titles{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                background-color: lightblue;
                width: 100%;
            }
            &__content{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                width: 80vw;
                height: 15vh;
            }
        }
    }
}