@import 'media';

.intro{
        width: 80vw;
        min-height: 30vh;
        background-color: $grey;
        background-size: 80%;
        display: flex;
        flex-direction: row; 
        align-items: center;
        margin-top: 12vh;
        &__section{
            width: 100%;
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;
            color: $secondary-color;
            &__icon{
                width: 5vw;
                height: 5vh;
            }
            &__text{
                font-size: 1.5em;
                text-align: center;
            }
        }
}

.banner{
    display: flex; 
    flex-direction: row; 
    justify-content:space-evenly; 
    align-items: center;
    height: 70vh;
    max-width: 100vw;
    &__icon{
        transition: transform .2s;
        width: 40vw;
        height: 40vh;
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    :hover{
        transform: scale(1.1);
    }
    #iconOne{
        background-image: url("../images/icono-1.jpg") ;
    }
    #iconTwo{
        background-image: url("../images/icono-2.jpg") ;
    }
    #iconThree{
        background-image: url("../images/icono-3.jpg") ;
    }
    #iconFour{
        background-image: url("../images/icono-4.jpg") ;
    }
}