$primary-font: 'Nesans Semi Bold'; 
$primary-color: #E6E6E6;
$secondary-color: #FEFEFE;
$black: #272727;
$grey: #818181;
$border-radius: 5px;

@font-face {
    font-family: 'Nesans Semi Bold';
    src: url('./Nesans-Semi-Bold.ttf');
    font-weight: 100;
    font-style: normal;
}