$primary-font: 'Nesans Semi Bold'; 
$primary-color: #E6E6E6;
$secondary-color: #FEFEFE;
$vegan-color: #6AC43D;
$black: #2b2f3b;
$beige: #f5f5dc;
$blue: #6b969d;
$border-radius: 5px;

@font-face {
    font-family: 'Nesans Semi Bold';
    src: url('./Nesans-Semi-Bold.ttf');
    font-weight: 100;
    font-style: normal;
}